<template>
  <div>
    <input type="text" v-model.number="num">
    <!--{{ this.$store.state.property[this.$store.state.stepCount-1].religion }}-->
  </div>
</template>

<script>
export default {
  name: 'ninzu',
  computed: {
    num: {
      get () {
        return this.$store.state.property[this.$store.state.stepCount].num
      },
      set (value) {
        this.$store.commit('setProperty', {num: value})
      }
    }
  }
}
</script>

<style scoped>

</style>
