<template>
  <div>
    <select v-model="religion">
      <option disabled value="">Please select one</option>
      <option>仏教</option>
      <option>キリスト教</option>
      <option>神道</option>
    </select>
    <!--{{ this.$store.state.property[this.$store.state.stepCount].religion }}-->
  </div>
</template>

<script>
export default {
  name: 'shuha',
  data () {
    return {
      options: [
        {text: '仏教', value: '仏教'},
        {text: 'キリスト教', value: 'キリスト教'},
        {text: '神道', value: '神道'}
      ]
    }
  },
  computed: {
    religion: {
      get () {
        return this.$store.state.property[this.$store.state.stepCount].religion
      },
      set (value) {
        this.$store.commit('setProperty', {religion: value})
      }
    }
  }
}
</script>

<style scoped>

</style>
