<template>
  <div>
    <component :is="isComponent"> </component>
    <button v-on:click="prevButtonAction">戻る</button>
    <button v-on:click="nextButtonAction">{{nextButton}}</button>
  </div>
</template>

<script>
import Shuha from '@/components/modules/Shuha'
import Ninzu from '@/components/modules/Ninzu'
import Kakunin from '@/components/modules/Kakunin'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'form',
  methods: mapActions('Form', {
    'nextButtonAction': 'nextButtonAction',
    'prevButtonAction': 'prevButtonAction'
  }),
  computed: {
    ...mapGetters('Form', {
      'nextButton': 'getNextButton',
      'isComponent': 'getComponent'
    })
  },
  components: {
    Shuha,
    Ninzu,
    Kakunin
  }
}
</script>

<style scoped>

</style>
