<template>
  <div>
    <input type="checkbox" id="A" value="100" v-model.number="price">
    <label for="A">A:¥100</label>
    <input type="checkbox" id="B" value="200" v-model.number="price">
    <label for="B">B:¥200</label>
    <input type="checkbox" id="C" value="300" v-model.number="price">
    <label for="C">C:¥300</label>
    <br>
    <span>sum: {{ sumValue }}</span>
  </div>
</template>

<script>
export default {
  name: 'test',
  data () {
    return {
      price: []
    }
  },
  // created: {
  //
  // },
  // mounted: {
  //
  // },
  computed: {
    sumValue: function () {
      if (this.price.length === 0) {
        return 0
      } else {
        return this.price.reduce(function (a, b) {
          return a + b
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
